<mat-toolbar color="primary" class="main-header">
        <mat-toolbar-row>
            <nav>
                <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon>home</button>
          </nav>
          <app-dashboard></app-dashboard>
          <div class="image">
          <img src="./assets/images/logo1.png">
        </div>
          <h1>Cricket</h1>
          <div class="header">
          <input type="text" name="search" placeholder="Search by matches,team">
          <button mat-raised-button color="accent">Search</button>
          <nav>
          <button mat-raised-button color="accent" routerLink="/login" routerLinkActive="active">Login/SignUp</button>
       
          </nav>
        </div>
        </mat-toolbar-row>
    </mat-toolbar>