.login-form{
  display: flex;
  flex-direction: column;
}
.container{
align-content: center;
}
.example-card{
  height: 20em;
  width: 20em;
  margin: 0px;
  text-align: justify;
  margin-left: 35%;
   /* background-color:paleturquoise;  */
}
.bg{
  display: flex;
  
    height:89%;
  /* width: 100% ;  */
  background-attachment: fixed;
}
.login{
  margin-left: 35%;
}

